.dropbox {
	text-align: center;
	padding: 20px;
	width: 90%;
	margin: auto;
}

.container2 {
	flex-wrap: wrap;
	width: 80%;
	margin: 20px auto;
	padding: 20px;
}

.container2 img {
	height: 325px;
	width: 230px;
	margin-right: 15px;
}

.dropbox-style {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	border-width: 2px;
	border-radius: 10px;
	border-color: #7a7576;
	border-style: dashed;
	background-color: #fafafa;
	color: black;
	font-weight: bold;
	font-size: 1.4rem;
	outline: none;
	transition: border 0.24s ease-in-out;
}

.center {
	margin: 0;
	text-align: center;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 50vh;
}

.bth-custom {
	margin: 10px;
}

.select-item-custom {
	width: 86.5%;
    margin: auto;
}

.group-text-custom {
	border-top-left-radius: 0.375rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0.375rem;
}

.backgroud-grey {
	background-color: #e9ecef;
}

.custom-pre {
    display: block;
    padding: 10px 30px;
    margin: 0;
    overflow: scroll;
}